@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");

* {
    --sl-font-family: "Pretendard Variable" !important;
    --pagefind-ui-font: "Pretendard Variable" !important;
}