---
import DefaultSocialIcons from '@astrojs/starlight/components/SocialIcons.astro';
---

<a href="https://www.buymeacoffee.com/mkt52" target="_blank">
  <img 
    src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png" 
    alt="Buy Me A Coffee" 
    style="height: 40px !important; width: auto !important;" 
  />
</a>

<style>
    /* Optional: Add some spacing or adjustment if needed */
</style>
