---
---
<div id="waline"></div>

<script>
  import { init } from '@waline/client';
  import '@waline/client/style';

  init({
    el: '#waline',
    serverURL: 'https://comment.mkt52.com',
    dark: 'html[data-theme="dark"]',
  });
</script>

<style>
  #waline {
    margin-top: 4rem;
  }
</style>
